
html {
    height: 100%;
}
body {
	font-family: sans-serif;
    background-image: url(noise.jpg);
    background-size: cover;
    color: white;
    height: 95%;
}
.advancedtitle {
    padding: 4px;
    margin: 0;
    font-size: 1em;
}
div.checkboxes {
    text-align: left;
}
.checkboxes {
    padding-left: 50%;
}
.menu {
    width: 50vh;
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
}
.cascade {
    cursor: pointer;
    width: 100%;
    text-align: center;
    outline: none;
    background-color: white;
    border: none;
}
.boutonmignon {
    border: none;
    color: black;
    background-color: white;
}
.boutonmignon:hover {
    background-color: black;
    color: white;
}
.active, .cascade:hover {
    background-color: black;
    color: white;
}
.advanced {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    color: black;
    overflow: hidden;
    border: 1px black;
    background-color: white;
}
.contenant {
    height: 88vh;
}
a {
	color: white;
	text-decoration: none;
}
.video_list {
    background-size: cover;
    background-repeat: repeat-x;
	display: flex;
    flex-direction: column;
	flex-wrap: wrap;
    padding: 2em;
    padding-bottom: 0;
    padding-top: 0;
    height: 100%;
}
.video_link {
    background-color: rgba(0.1,0.1,0.1,0.8);
	display: flex;
    flex-direction: column;
	padding: 4px;
    margin: 0.2em;
    text-align: center;
    width: 32vh;
    height: 26vh;
}
.thumbnail {
    text-align: center;
    width: 100%;
    aspect-ratio: 16 / 9;
	object-fit: contain;
}
.video_link_meta {
    padding: 0;
}
.titre {
    font-family: "Times New Roman", serif;
    width: 100%;
    height: 10%;
}
.titretexte {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    vertical-align: middle;
    padding: 0;
    font-size: 4em;
    text-align: center;
}
.titretexte.R {
    color: #ff0000;
    mix-blend-mode: screen;
}
.titretexte.G {
    color: #00ff00;
    mix-blend-mode: screen;
}
.titretexte.B {
    color: #0000ff;
    mix-blend-mode: screen;
}
.titre:hover .R {
  animation: shake 0.82s cubic-bezier(.36,.07,.80,.97) both infinite;
  transform: translate(-50%, 0);
}
.titre:hover .G {
  animation: shake 0.40s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate(-50%, 0);
}
.titre:hover .B {
  animation: shake 0.60s cubic-bezier(0,.07,.19,.97) both infinite;
  transform: translate(-50%, 0);
}
.titretexte.shadow {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 10px black;
}
@keyframes shake {
  10%, 90% {
    transform: translate(calc(-50% - 1px), 0);
  }

  20%, 80% {
    transform: translate(calc(-50% - 2px), 0);
  }

  30%, 50%, 70% {
    transform: translate(calc(-50% - 4px), 4px);
  }

  40%, 60% {
    transform: translate(calc(-50% + 4px), 0);
  }
}

.video_metadata {
    background-color: rgba(0.1,0.1,0.1,0.8);
}
.back {
    background-color: rgba(0.1,0.1,0.1,0.8);
}
