
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
	font-family: sans-serif;
    background-image: url(noise.gif);
    background-size: contain;
    background-size: 50%;
    color: white;
    height: 95%;
}
.bgpony {
    position: fixed;
    height: 90vh;
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
}
.maintitre {
    padding-top: 20vh;
}
#search {
    width: 70%;
}
.advancedtitle {
    padding: 4px;
    margin: 0;
    font-size: 1em;
    text-shadow: 1px 1px 0px white;
    text-align: center;
}
div.checkboxes {
    text-align: left;
    width: 50%;
    transform: translateX(-13%);
}
.checkboxes {
    padding-left: 50%;
}
.navigo {
    padding-left: 25%;
}
.navigator select {
    text-align: center;
    display: block;
    margin: auto;
}
.menu {
    width: 50vh;
    padding-top: 4px;
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    backdrop-filter: invert(100%) blur(2px) brightness(60%);
    border: 2px solid black;
}
.checkboxes label {
    text-shadow: 1px 1px 0px white;
}
.mainsearch {
    padding-top: 4px;
    padding-bottom: 4px;
}
.menuhead {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    text-shadow: 1px 1px 0px black;
}
.cascade {
    cursor: pointer;
    width: 100%;
    text-align: center;
    outline: none;
    background-color: white;
    border: none;
}
.boutonmignon {
    border: none;
    color: black;
    background-color: white;
}
.boutonmignon:hover {
    background-color: black;
    color: white;
    cursor: pointer; 
}
.active, .cascade:hover {
    background-color: black;
    color: white;
}
.advanced {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    color: black;
    overflow: hidden;
    border: 1px black;
    backdrop-filter: blur(2px) brightness(170%);
}
.contenant {
    height: 88vh;
}
a {
	color: white;
	text-decoration: none;
}
.video_list {
	display: flex;
    flex: auto;
    flex-direction: column;
	flex-wrap: wrap;
    padding: 2em;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: calc(200px + 2em);
    height: 100%;
    width: fit-content;
}
.video_link {
    backdrop-filter: blur(2px);
	display: flex;
    flex-direction: column;
	padding: 4px;
    text-align: center;
    width: 30vh;
    height: 26vh;
    border: 2px solid black;
    color: black;
    margin: 0;
}
.thumbnail {
    text-align: center;
    width: 100%;
    aspect-ratio: 16 / 9;
	object-fit: contain;
}
.video_link_meta {
    display: block;
    backdrop-filter: blur(2px) brightness(200%);
    overflow: hidden;
    height: 100%;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.6)
}
.checkboxes div {
    width: 150px;
}
.navigator {
    position: fixed;
    height: fit-content;
    width: 200px;
    padding: 4px;
    background-color: white;
    border: 2px solid black;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}
.navigo {
    display: block;
    transform: translateX(-40px);
}
.title {
    color: black;
    text-shadow: 1px 1px 0px white;
}
.channel {
    display: block;
    text-align: left;
    font-size: 1em;
    text-shadow: 1px 1px 0px white;
    color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    font-style: italic;
    width: fit-content;
}
.date {
    display: inline;
    position: fixed;
    bottom: 4px;
    right: 4px;
    font-size: 0.8em;
    color: black;
}
.titre {
    font-family: "Times New Roman", "Yu Mincho", serif;
    width: 100%;
    height: 10%;
}
.titretexte {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    vertical-align: middle;
    padding: 0;
    font-size: 4em;
    text-align: center;
}
.titretexte.R {
    color: #ff0000;
    mix-blend-mode: screen;
}
.titretexte.G {
    color: #00ff00;
    mix-blend-mode: screen;
}
.titretexte.B {
    color: #0000ff;
    mix-blend-mode: screen;
}
.indexlink {
    color: rgba(1, 0, 1, 0);
    opacity: 0;
}
.titre:hover .R {
  animation: shake 0.82s cubic-bezier(.36,.07,.80,.97) both infinite;
  transform: translate(-50%, 0);
}
.titre:hover .G {
  animation: shake 0.40s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate(-50%, 0);
}
.titre:hover .B {
  animation: shake 0.60s cubic-bezier(0,.07,.19,.97) both infinite;
  transform: translate(-50%, 0);
}
.titretexte.shadow {
    color: rgba(0, 0, 0, 1);
    text-shadow: 4px 4px 3px black;
}
@keyframes shake {
  10%, 90% {
    transform: translate(calc(-50% - 1px), 0);
  }

  20%, 80% {
    transform: translate(calc(-50% - 2px), 0);
  }

  30%, 50%, 70% {
    transform: translate(calc(-50% - 4px), 4px);
  }

  40%, 60% {
    transform: translate(calc(-50% + 4px), 0);
  }
}

.video_metadata {
    background-color: white;
    border: 2px solid black;
    width: 72%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 4px;
}
.back {
    background-color: black;
    display: inline;
    padding: 4px;
}
video {
    height: 70vh;
    display: block;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
}
.video_title {
    font-size: 2em;
    color: black;
}
.description {
    padding: 4px;
    font-size: 0.8em;
    background-color: black;
    margin-top: 0;
}
.view_count {
    color: black;
    margin: 0;
    padding: 4px;
    padding-left: 0;
}
.text_description {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}
.watch_date {
    display: block; 
    font-size: 0.8em;
    color: black;
    text-align: right;
    right: 4px;
}
