
html {
    height: 100%;
    scroll-behavior-x: none;
    scroll-behavior-y: smooth;
}
body {
	font-family: sans-serif;
    background-image: url(noise.gif);
    background-size: contain;
    background-size: 50%;
    color: white;
    height: 95%;
}
.about {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    width: 50%;
    background-color: white;
    color: black;
    padding: 4px;
    height: fit-content;
    margin-bottom: 20%;
}
.about>h1 {
    text-align: center;
    font-size: 2em;
}
.about>h2 {
    text-indent: 4em;
    font-size: 1.5em;
}
.about>h3 {
    text-indent: 2em;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 3em;
}
.about>p {
    text-align: justify;
    text-indent: 2em each-line;
    line-height: 1.5em;
}
.brabout {
    display: block;
    margin: 2em;
}
.mots {
    color: white;
    background-color: black;
    padding: 4px;
    font-size: .1em;
    margin-left: 2em;
    margin-right: 2em;
    transition: font-size 2s ease-in-out;
}
.mots:hover {
    transition: font-size 2s ease-in-out;
    font-size: .8em;
}
p.adroite {
    text-align: right;
    text-indent: 0;
    margin-right: 4em;
}
p.agauche {
    text-align: left;
    text-indent: 0;
    margin-left: 4em;
}
.github {
    color: black;
    text-decoration: underline;
}
.titreabout {
    font-size: 1vw;
    margin-top: 2vh;
    position: absolute;
    z-index: 4;
}
.fgpony {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bgpony {
    position: fixed;
    height: 90vh;
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
}
.maintitre {
    padding-top: 20vh;
}
#search {
    width: 70%;
}
.advancedtitle {
    padding: 4px;
    margin: 0;
    font-size: 1em;
    text-shadow: 1px 1px 0px white;
    text-align: center;
}
div.checkboxes {
    text-align: left;
    width: 50%;
    transform: translateX(-13%);
}
.checkboxes {
    padding-left: 50%;
}
.navigo {
    padding-left: 25%;
}
.navigator select {
    text-align: center;
    display: block;
    margin: auto;
}
.menu {
    width: 50vh;
    padding-top: 4px;
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    backdrop-filter: invert(100%) blur(2px) brightness(60%);
    border: 2px solid black;
}
.checkboxes label {
    text-shadow: 1px 1px 0px white;
}
.mainsearch {
    padding-top: 4px;
    padding-bottom: 4px;
}
.menuhead {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    text-shadow: 1px 1px 0px black;
}
.cascade {
    cursor: pointer;
    width: 100%;
    text-align: center;
    outline: none;
    background-color: white;
    border: none;
}
.boutonmignon {
    border: none;
    color: black;
    background-color: white;
}
.boutonmignon:hover {
    background-color: black;
    color: white;
    cursor: pointer; 
}
.active, .cascade:hover {
    background-color: black;
    color: white;
}
.advanced {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    color: black;
    overflow: hidden;
    border: 1px black;
    backdrop-filter: blur(2px) brightness(170%);
}
.contenant {
    height: 88vh;
}
a {
	color: white;
	text-decoration: none;
}
.about>a {
    color: black;
}
.about>a:visited {
    color: black;
}
.video_list {
	display: flex;
    flex: auto;
    flex-direction: column;
	flex-wrap: wrap;
    padding: 2em;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: calc(200px + 2em);
    height: 100%;
    width: fit-content;
}
.video_link {
    backdrop-filter: blur(2px);
	display: flex;
    flex-direction: column;
	padding: 4px;
    text-align: center;
    width: 30vh;
    height: 26vh;
    border: 2px solid black;
    color: black;
    margin: 0;
}
.year_list {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    justify-content: center;
}
.year_link {
    backdrop-filter: blur(2px);
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 4px;
    text-align: center;
    width: 14vw;
    height: 26vh;
    border: 2px solid black;
    margin: 4px;
}
.thumbnail {
    text-align: center;
    width: 100%;
    aspect-ratio: 16 / 9;
	object-fit: cover;
}
.video_link_meta {
    display: block;
    backdrop-filter: blur(2px) brightness(200%);
    overflow: hidden;
    height: 100%;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.9)
}
.checkboxes div {
    width: 150px;
}
.navigator {
    position: fixed;
    height: fit-content;
    width: 200px;
    padding: 4px;
    background-color: white;
    border: 2px solid black;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}
.navigo {
    display: block;
    transform: translateX(-40px);
}
.title {
    color: black;
    text-shadow: 1px 1px 0px white;
}
.channel {
    display: inline;
    text-align: left;
    font-size: 1em;
    color: black;
    margin-top: 4px;
    font-style: italic;
    padding-left: 4px;
}
.channelbar {
    margin: 0;
    padding: 0;
}
.channellist {
    display: block;
    text-align: left;
    font-size: .8em;
    color: black;
    font-style: italic;
    position: absolute;
    bottom: 1.5em;
}
.date {
    font-size: 0.8em;
    color: black;
}
.browsedate {
    position: fixed;
    right: 4px;
    bottom: 4px;
}
.counts {
    font-size: .8em;
    color: black;
    position: fixed;
    left: 4px;
    bottom: 4px;
}
.titre {
    font-family: "Times New Roman", "Yu Mincho", serif;
    width: 100%;
    height: 10%;
}
.titretexte {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    vertical-align: middle;
    padding: 0;
    font-size: 4em;
    text-align: center;
}
.titretexte.R {
    color: #ff0000;
    mix-blend-mode: screen;
}
.titretexte.G {
    color: #00ff00;
    mix-blend-mode: screen;
}
.titretexte.B {
    color: #0000ff;
    mix-blend-mode: screen;
}
.indexlink {
    color: rgba(1, 0, 1, 0);
    opacity: 0;
}
.titre:hover .R {
  animation: shake 0.82s cubic-bezier(.36,.07,.80,.97) both infinite;
  transform: translate(-50%, 0);
}
.titre:hover .G {
  animation: shake 0.40s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate(-50%, 0);
}
.titre:hover .B {
  animation: shake 0.60s cubic-bezier(0,.07,.19,.97) both infinite;
  transform: translate(-50%, 0);
}
.titretexte.shadow {
    color: rgba(0, 0, 0, 1);
    text-shadow: 4px 4px 3px black;
}
@keyframes shake {
  10%, 90% {
    transform: translate(calc(-50% - 1px), 0);
  }

  20%, 80% {
    transform: translate(calc(-50% - 2px), 0);
  }

  30%, 50%, 70% {
    transform: translate(calc(-50% - 4px), 4px);
  }

  40%, 60% {
    transform: translate(calc(-50% + 4px), 0);
  }
}

.video_metadata, .comment_container {
    background-color: white;
    border: 2px solid black;
    color: black;
    width: 72%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 4px;
}
.comment {
    display: flex;
    padding: 4px;
}
.comment_profile_picture {
    width: 64px;
    height: 64px;
    border: 2px solid black;
    overflow: hidden;
}
.comment_text_section {
    margin-left: 4px;
}
.comment_text {
    padding: 4px;
    font-size: 0.8em;
    margin-top: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    min-height: 2.7em;
    margin-bottom: 0;
}
a.view_comments {
    color: blue;
}
.back {
    position: fixed;
    background-color: black;
    display: inline;
    padding: 4px;
}
.toabout {
    position: fixed;
    background-color: black;
    display: inline;
    padding: 4px;
    right: 2em;
    bottom: 0;
    font-size: 2em;
}
.morerandom {
    right: 1em;
}
video {
    height: 70vh;
    display: block;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
}
.video_title {
    font-size: 2em;
    color: black;
}
.description {
    padding: 4px;
    font-size: 0.8em;
    background-color: black;
    color: white;
    margin-top: 0;
}
.view_count {
    color: black;
    margin: 0;
    padding: 4px;
    padding-left: 0;
    font-size: 0.8em;
}
.text_description {
    color: black;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    font-size: 0.8em;
}
.watch_date {
    display: block; 
    font-size: 0.8em;
    color: black;
    text-align: right;
    right: 4px;
}
.snapdate {
    text-align: center;
    background-color: black;
    font-size: 1em;
    padding: 4px;
    width: fit-content;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}
.available {
    text-align: center;
    background-color: black;
    font-size: .8em;
    width: fit-content;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    margin-bottom: 4px;
}
hr {
    border: 1px solid black;
}
.channelpp {
    width: 64px;
    height: 64px;
    border: 2px solid black;

}
.channelinfo {
    display: flex;
    flex-direction: row;
    align-items: end;
}
.videobar {
    margin: 0;
    padding: 0;
}
.commentbar {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    margin-top: 4px;
}
.commenttextbar {
    margin: 0;
    margin-bottom: 4px;
    transform: translateX(-4px);
}
.comment_metadata {
    font-size: 0.8em;
}
.comment_metadata strong {
    font-size: 1.25em;
}
.offline.show{
    background-color: rgb(255, 0, 0);
} 
.yearthumbnail {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.titleyear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    font-size: 4vw;
    text-shadow: .5vh .5vh 0px black;
    background-color: rgba(0, 0, 0, .6);
}
.collage {
    margin: 0;
    padding: 0;
    height: 20%;
    width: 20%;

}
